<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
        <meta charset="utf-8">
        <title>Scrabble!</title>
    </head>
    <body>
        <div class="container">
        <div class="jumbotron">
            <h1>Scrabble Point Calculator <small> of awesomeness!!</small></h1>
        </div>
            <div class="row">
                <div class=" col col-md-12">
                    <form class="" action="/start" method="get">
                        <button type="submit" class="btn"name="button">Play Game!</button><br><br>
                    </form>
                    {% if tiles is not empty %}
                        <h2>{{ tiles }}</h2><br>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 player1">
                    <form action="/word">
                        <input type="text" name="scrabble1">
                        <label for="scrabble">Enter your scrabble word here! Por favor!</label><br><br>
                </div>
                <div class="col col-md-6 player2">
                        <input type="text" name="scrabble2">
                        <label for="scrabble2">Enter your scrabble word here! Por favor!</label><br><br>
                </div>
                        <button class="btn btn-block btn-danger" type="submit" name="button">Submit!</button><br><br>
                    </form>
            </div>
            <div class="row">
                <div class="col col-md-6 player1">
                    <p>
                        Your Scrabble points are:
                    </p>
                    {% if result1 is not empty %}
                        {{ result1 }}
                    {% endif %}
                 </div>
                <div class="col col-md-6 player1">
                    <p>
                        Your Scrabble points are:
                    </p>
                    {% if result2 is not empty %}
                        {{ result2 }}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
